*.exe
/8_Pack/1.in
/8_Pack/11.txt
9_Pack/input.txt.bak
10_Pack/arrayiskl.c
10_Pack/countingOnStack
10_Pack/check
10_Pack/queue
10_Pack/sqlHash
11_Pack/avalancheEffect
12_Pack/check
12_Pack/treeSearch
Extra_Pack/tailorExp
10_Pack/queue
Extra_Pack/avlTree
